.react-flow {
  &.disabled {
    .react-flow__handle {
      pointer-events: none;
    }
  }
  svg g.connected-edges path {
    stroke: theme('colors.primary');
  }
}

.react-flow__minimap {
  @apply rounded-lg dark:bg-gray-800;
}

.react-flow__node {
  @apply rounded-lg;
  & > div {
    @apply rounded-lg transition;
  }
  &.selected .block-base {
    @apply ring-2 ring-accent;
  }
  &:hover {
    .block-menu-container {
      display: block;
    }
  }

  &.react-flow__node-BlockGroup2 {
    z-index: 0 !important;
  }

  .react-flow__handle {
    @apply h-4 w-4 rounded-full border-0;
    &.target {
      @apply bg-accent -ml-4;
    }
    &.source {
      border-width: 3px;
      @apply border-accent -mr-4 bg-white dark:bg-black;
    }
  }
}

.react-flow__edge {
  cursor: pointer;
  &.selected .react-flow__edge-path {
    stroke: theme('colors.green.300') !important;
  }

  .dark .react-flow__edge-path:hover {
    stroke: theme('colors.yellow.400') !important;
  }

  .react-flow__edge-path {
    stroke: theme('colors.accent');
    stroke-width: 4;
    transition: stroke 100ms ease;
    &:hover {
      stroke: theme('colors.yellow.500');
    }
  }
}

.dropable-area__node,
.dropable-area__handle {
  @apply ring-4;
}
