.list-item-transition {
  transition: all 0.4s ease;
}

.list-leave-active {
  position: absolute;
  width: 100%;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.list-enter-from,
.list-enter-from {
  transform: translateY(30px);
}

#workflow-edit-block {
  @apply dark:border-gray-700 dark:border-opacity-40 my-4;
}

.workflows-container {
  @apply grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
}

.react-flow__panel {
  a {
    display: none;
  }
}

/* Block Menu */
.block-menu {
  @apply mb-1 rounded-md;
  button {
    padding-left: 6px;
    padding-right: 6px;
    @apply focus:ring-0 py-1 hover:text-primary;
  }
}

.checkbox-ui__input:checked ~ .checkbox-ui__mark .ui-icon,
.checkbox-ui__input.indeterminate ~ .checkbox-ui__mark .ui-icon {
  transform: scale(1) !important;
}
.checkbox-ui .ui-icon {
  transform: scale(0);
}
.checkbox-ui__input:checked ~ .checkbox-ui__mark,
.checkbox-ui__input.indeterminate ~ .checkbox-ui__mark {
  @apply bg-accent border-accent bg-opacity-100;
}
.checkbox-ui__mark {
  width: 100%;
  height: 100%;
  transition-property: background-color, border-color;
  transition-timing-function: ease;
  transition-duration: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-ui__mark .ui-icon {
  transform: scale(0) !important;
  transition: transform 200ms ease;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease;
}
.modal-enter-active .modal-ui__content,
.modal-leave-active .modal-ui__content {
  transition: transform 0.3s ease;
  transform: translateY(0px);
}
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}
.modal-enter-from .modal-ui__content,
.modal-leave-to .modal-ui__content {
  transform: translateY(30px);
}
.modal-ui__content-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cm-content {
  flex-basis: fit-content;
}
.cm-line {
  white-space: pre-wrap;
}
.codemirror.hide-gutters .cm-gutters {
  display: none !important;
}
.cm-editor {
  height: 100%;
  font-size: 15px;
  @apply pb-6;
}
.cm-editor .cm-gutters,
.cm-editor .cm-content,
.cm-tooltip.cm-tooltip-autocomplete > ul {
  font-family: 'Source Code Pro', Fira code, Fira Mono, Consolas, Menlo, Courier,
    monospace !important;
}
.cm-tooltip-autocomplete {
  margin-left: -385px;
  margin-top: -22px;
}
