.list-item-transition {
  transition: all 0.4s ease;
}

.list-leave-active {
  position: absolute;
  width: 100%;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.list-enter-from,
.list-enter-from {
  transform: translateY(30px);
}

#workflow-edit-block {
  @apply dark:border-gray-700 dark:border-opacity-40 my-4;
}

.workflows-container {
  @apply grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
}

.react-flow__panel {
  a {
    display: none;
  }
}

/* Block Menu */
.block-menu {
  @apply mb-1 rounded-md;
  button {
    padding-left: 6px;
    padding-right: 6px;
    @apply focus:ring-0 py-1 hover:text-primary;
  }
}

.checkbox-ui__input:checked ~ .checkbox-ui__mark .ui-icon,
.checkbox-ui__input.indeterminate ~ .checkbox-ui__mark .ui-icon {
  transform: scale(1) !important;
}
.checkbox-ui .ui-icon {
  transform: scale(0);
}
.checkbox-ui__input:checked ~ .checkbox-ui__mark,
.checkbox-ui__input.indeterminate ~ .checkbox-ui__mark {
  @apply bg-accent border-accent bg-opacity-100;
}
.checkbox-ui__mark {
  width: 100%;
  height: 100%;
  transition-property: background-color, border-color;
  transition-timing-function: ease;
  transition-duration: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-ui__mark .ui-icon {
  transform: scale(0) !important;
  transition: transform 200ms ease;
}
